
{{ $open5gsName := .Release.Name }}

logger:
  level: {{ .Values.config.logLevel }}

global:
smf:
  sbi:
    server:
    - dev: eth0
      port: {{ .Values.containerPorts.sbi }}
    client:
      {{- if .Values.config.sbi.client.nrf.enabled }}
      nrf:
      - uri: {{ default (printf "http://%s-nrf-sbi:7777" $open5gsName) .Values.config.sbi.client.nrf.uri }}
      {{- end }}
      {{- if .Values.config.sbi.client.scp.enabled }}
      scp:
      - uri: {{ default (printf "http://%s-scp-sbi:7777" $open5gsName) .Values.config.sbi.client.scp.uri }}
      {{- end }}
  pfcp:
    server:
    - dev: eth0
    client:
      upf:
        {{- if .Values.config.upf.pfcp }}
        {{- range .Values.config.upf.pfcp }}
        - address: {{ . }}
        {{- end }}
        {{- else }}
        - address: {{ printf "%s-upf-pfcp" $open5gsName }}
        {{- end }}
  gtpc:
    server:
    - dev: eth0
  gtpu:
    server:
    - dev: eth0
  {{- if .Values.metrics.enabled }}
  metrics:
    server:
    - dev: eth0
      port: 9090
  {{- end }}
  session:
    {{- range .Values.config.subnetList }}
    - {{- toYaml . | nindent 6 }}
    {{- end }}
  dns:
    {{- range .Values.config.dnsList }}
    - {{- toYaml . | nindent 6 }}
    {{- end }}
  mtu: {{ .Values.config.mtu }}
  ctf:
    enabled: auto # auto(default)|yes|no
  {{- if .Values.config.pcrf.enabled }}
  freeDiameter: smf.conf
  {{- end }}
