kind: PersistentVolume
apiVersion: v1
metadata:
  name: ${CORE_5G}-mongodb
  labels:
    type: local
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/"
