apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mongo-express
  name: mongo-express
spec:
  selector:
    matchLabels:
      app: mongo-express
  template:
    metadata:
      labels:
        app: mongo-express
    spec:
      containers:
      - name: mongo-express
        image: mongo-express:latest
        ports:
        - containerPort: 8081
          protocol: TCP
        env:
        - name: ME_CONFIG_MONGODB_SERVER
          value: "open5gs-mongodb"
          #value: "mongo://open5gs-mongodb:27017"
        imagePullPolicy: Always
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: mongo-express
  name: mongo-express
spec:
  selector:
    app: mongo-express
  type: ClusterIP
  ports:
  - name: http
    port: 8081
    protocol: TCP